html[data-theme='dark'] {
  background-color: #0d1117;
  color: #c9d1d9;
}
html[data-theme='light'] {
  background-color: #ffffff;
  color: #000000;
}

.note {
  position: relative;
  margin: 0 auto;
}

@media (max-width: 996px) {
  .note {
    max-width: 100%;
    padding: 16px;
  }
}

@media (min-width: 997px) {
  .note {
    max-width: 75%;
  }
}

@media (min-width: 1440px) {
  .note {
    max-width: 980px;
  }
}

.content img {
  max-width: 100%;
  width: fit-content;
  margin: 0 auto;
  display: block;
}

.note .panel {
  position: fixed;
  bottom: 48px;
  right: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.note .panel .icon {
  display: block;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
  opacity: 0.8;
}
.note .panel .icon:hover {
  opacity: 1;
}

html[data-theme='light'] .note .panel .dark {
  display: none;
}
html[data-theme='dark'] .note .panel .light {
  display: none;
}

html[data-theme='dark'] .note .panel .icon {
  background-color: #444950;
  color: #ffffff;
}
html[data-theme='light'] .note .panel .icon {
  background-color: #ebedf0;
}

html[data-theme='light'] .settings {
  --border-color: #58a6ff;
  --outline-color: #58a6ff;
}

html[data-theme='dark'] .settings {
  --border-color: #30363d;
  --outline-color: #58a6ff;
}

.settings label {
  display: block;
  margin-bottom: 8px;
  text-align: left;
  font-size: 14px;
}

.settings input,
.settings select,
.settings textarea {
  margin-top: 4px;
  margin-bottom: 16px;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  box-shadow: var(--border-color);
  outline-color: var(--outline-color);
}

.settings textarea {
  max-width: 100%;
}

.settings {
  position: relative;
  margin: 0 auto;
}

@media (max-width: 996px) {
  .settings {
    max-width: 100%;
    padding: 16px;
  }
}

@media (min-width: 997px) {
  .settings {
    max-width: 75%;
  }
}

@media (min-width: 1440px) {
  .settings {
    max-width: 980px;
  }
}
