node_modules/
.rpt2_cache/

# Editor directories and files
.idea
.vscode
.history

# build dist
*.tgz
dist/
**/__tests__/temp
.ultra.cache.json

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.yarn-cache.json
.temp
