# ----------------------------- Directories --------------------------
node_modules
dist
tests/server/static
tests/server/static/upload
.idea

# ----------------------------- File Types --------------------------
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*~

# ----------------------------- Files -------------------------------
.DS_Store
# local env files
.env.local
.env.*.local
# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
**/__tests__/temp/
*.tgz
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
**/i18n/index.d.ts
